CURSO1/LM/XML/Ficheros XML/ejercicio10.dtd

<!ELEMENT cv (presentacion, (datos_academicos | experiencia_laboral)+, (lectura | deportes | otros)*, referencias*)>
<!ELEMENT presentacion (#PCDATA)>
<!ELEMENT datos_academicos (#PCDATA)>
<!ELEMENT experiencia_laboral (#PCDATA)>
<!ELEMENT lectura (#PCDATA)>
<!ELEMENT deportes (#PCDATA)>
<!ELEMENT otros (#PCDATA)>
<!ELEMENT referencias (#PCDATA)>