CURSO1/LM/XML/Ficheros XML/FAQ.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT FAQ (INFO, PART)>
<!ELEMENT INFO (TITULO, AUTOR, EMAIL, VERSION, FECHA)>
<!ELEMENT PART (Q+)>
<!ATTLIST PART number CDATA #REQUIRED>
<!ELEMENT Q (QTEXT, A)>
<!ATTLIST Q id ID #REQUIRED>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA)>
<!ELEMENT EMAIL (#PCDATA)>
<!ELEMENT VERSION (#PCDATA)>
<!ELEMENT FECHA (#PCDATA)>
<!ELEMENT QTEXT (#PCDATA)>
<!ELEMENT A (#PCDATA)>